@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-image: linear-gradient(to bottom right, #88a5db, #5eb89a);
    
    /**background-color: #758190;*/
}

.content {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: rgb(153, 219, 241);
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
    
    /**((cursor: pointer;*/
    /**box-shadow: 0 0 30px lightblue*/
}

.stats-card {
    background-color: rgba(189, 219, 175, 0.4);
    border-radius: 15px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    display:grid;
    
    
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;

}

.bottom-content {
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color: #74ca9f;
    box-shadow: 0 0 30px #74ca9f;
}

.clicked {
    background-color: #c4c4c4;
    /**box-shadow: none;*/
}

.notclicked {
    background-color: #ffffff;
}

.progressBar {
    background-color: red;
    display: flex;
    
}

.progress {
    background-color: green;
}

.progressBarContainer {
    background-color: #919191;
    width:100%;
    display:flex;
}